<footer class = "footer">
        <p>&copy 2026 Lynn Hyun. All rights reserved.</p>

        <div class = "footer-section">
            <h3>Quick Links</h3>
            <ul id = "footer-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        
        <div class = "footer-section">
            <h3>Social Media</h3>
            <ul id = "footer-socials">
                <li><a href="https://www.linkedin.com/in/lynn-h-24b5231ab/" target="_blank">
                        <img src="images/LinkedIn_icon.svg.webp" alt = "LinkedIn Logo" class = "socials-logo">
                </a></li>
                <li><a href="https://github.com/lynngoat/personal-website" target="_blank">
                        <img src="images/github.png" alt="GitHub Logo" class = "socials-logo">
                </a></li>
            </ul>
        </div>
    </footer>