<header>
        <!-- navigation bar -->
        <nav class="navbar">
            <ul>
                <li><a href="index.html" class="active">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li id="sickkids-logo">
                    <a id = "sickkids-link" href=""> <!-- doesn't go anywhere for now until i get this website-->
                    <img src="images/sickkids.png" class = "hospital-logo" alt="SickKids Logo">
                    </a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>

            <button id="theme-toggle">Switch to Dark Mode</button>
        </nav>
    </header>